
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>展示系统</title>
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
</head>
<body>
    <div id="map"></div>
    <script src="~/Apps/display/map.js"></script>
</body>
</html>
