
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>业主系统</title>
</head>
<body>
    <div>
        <h1 align="center">业主系统</h1>
    </div>
</body>
</html>
