
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>无人机航线规划系统</title>
    <!--jquery-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <!--CesiumJS-->
    <link href="~/Scripts/Cesium/Widgets/widgets.css" rel="stylesheet" />
    <script src="~/Scripts/Cesium/Cesium.js"></script>
    <script src="~/Scripts/navigation/viewerCesiumNavigationMixin.min.js"></script>
    <script src="~/Scripts/navigation/SpirographPositionProperty.js"></script>
    <!--Layui-->
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.all.js"></script>
    <!--FileSaver-->
    <script src="~/Scripts/FileSaver.js"></script>

    <link href="~/Apps/uav/css/main.css" rel="stylesheet" />
</head>
<body>
    <!--顶栏-->
    <div id="header">
        <img id="syslogo" src="~/Resources/img/head/uavlogo.png" />

        <div style="position:absolute;top:7px;right:5px">
            <button type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-user"><span style="margin-left:5px">@ViewBag.User</span></i></button>
            <button id="setbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-set-fill"></i></button>
            <a href="~/Platform/Logout">
                <button id="exitbtn" type="button" class="layui-btn1 layui-btn-primary1 layui-btn-sm1" style="height:35px;color:Lavender"><i class="layui-icon layui-icon-logout"></i></button>
            </a>
        </div>
    </div>

    <!--地图-->
    <div id="map"></div>

    <!--javascript-->
    <script>
        var servicesurl = @Html.Raw(Json.Encode(ViewBag.ServicesURL));
        var datasurl = @Html.Raw(Json.Encode(ViewBag.DatasURL));
    </script>

    <script src="~/Apps/uav/js/1.0-all.js"></script>
    <script src="~/Apps/uav/js/1.2-para.js"></script>
    <script src="~/Apps/uav/js/1.3-map.js"></script>
    <script src="~/Apps/uav/js/2.0-projectlist.js"></script>
    <script src="~/Apps/uav/js/3.0-project.js"></script>
    <script src="~/Apps/uav/js/4.0-route.js"></script>
    <script src="~/Apps/uav/js/5.0-util.js"></script>
</body>
</html>
